
body {
    border: solid 1px #666;
    width: 8.5in;
    padding: 0.75in;
    margin: 0.75in;
}

h2 {
    font-size: 21pt;
}

p {
    margin: 20;
}

button {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5%;
    width: 100%;
    font-size: 80%;
}

input {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5%;
    width: 100%;
    font-size: 80%;
}

.chord {
    padding: 0.15em;
    position: absolute;
    margin-top: -1.25em;
    font-weight; bold;
    z-index: -10;
    font-family: 'Helvetica';
    font-size: 14pt;
    line-height: 16, 1pt;
    color: #464646;
    background-color: #FFFFFF;
}

.chordline {
    white-space: pre;
}

.chordline .chord {
    position: relative;
    margin-top: 0;
    z-index: 0;
}

.metadata {
    float: right;
    text-align: right;
}

.page {
    padding-bottom: 0.5em;
}

.actionButtons {
    margin-top: 10%;
    display: flex;
    flex-direction: column;


}