body {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-size: 14pt;
    border: solid 1px #666;
    width: 8.5in;
    padding: 0.75in;
    margin: 0.75in;
}

h2 {
    font-size: 21pt;
}

p {
    margin: 0;
}

button{
    font-family: 'Raleway', sans-serif;
}


.metadata {
    float: right;
    text-align: right;
}

.page p {
    padding-bottom: 0.5em;
}
